
<mat-grid-list cols='1' rowHeight="400px" style="padding-top: 150px;"> 
  <mat-grid-tile>
    <fusioncharts width="100%" height="350"   type="pie2d"
    [dataSource]="dataSource">
  </fusioncharts>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols='2' rowHeight="600px"> 
  <mat-grid-tile>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="min-height: 680px;">
    <app-all-countries [allCountriesData]="allCountriesData" (elementDetails) = "showResults($event)">
    </app-all-countries>
  </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" class="video-title">
      <app-country-details [dataElement]="dataElement">

      </app-country-details>
    </div>
  </mat-grid-tile>
</mat-grid-list>

