.video-title > ::ng-deep figure {
    height: 100%;
    align-items: flex-start;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    position:absolute;
    justify-content: start;
}

.mat-grid-tile .mat-figure{
    height: 100%;
    align-items: flex-start;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    position:absolute;
    justify-content: start;
}